.free {
  /* Styling for free seats */
  background-color: #252850 ;
  color: white;
}
  
.occupied {
  /* Styling for occupied seats */
  background-color: #a0a0a0;
  color: white;
}

.selected {
  background-color: #FF4500;
  color:white;
}
.reserve .selected:hover {
  background-color: #FF7F50;
}

.reserve .free:hover {
  background-color: #1E90FF;
}
  
.notAvailable {
  background-color: #FF7F50;
}